# dependencies
node_modules/

# next.js build output
.next/

# production build
/dist/

# TypeScript
*.tsbuildinfo

# logs
*.log

# environment variables
.env*
!.env.example

# IDE settings
.vscode/
.idea/

# misc
.DS_Store

